black==26.3.1
cffi==2.0.0
click==8.3.1
colorama==0.4.6
cryptography==46.0.5
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
pycparser==3.0
PySide6==6.10.2
PySide6_Addons==6.10.2
PySide6_Essentials==6.10.2
PySide6-QtSvg
pytokens==0.4.1
shiboken6==6.10.2
zxcvbn==4.5.0
